body{
    margin: 0;
    background-image: url(london.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#clock_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    color: black;
    text-align: center;
    backdrop-filter: blur(5px);
    background-color: rgba(128, 128, 128, 0.014);
   width: 50%;
    
}
